<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Phone Shop</title>

    <link rel="stylesheet" href="style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body id="home">

<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-paw mr-2" aria-hidden="true"></span> 
            Phone Shop 
                     </a></h1>
            <button class="navbar-toggler bg-gradient collapsed" type="butston" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
            </button>
      
            <div class="home" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li> 
                    <li class="nav-item">
                        <ssa class="nav-link" href="services.html">Services</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <button class="login"> <a href="/login">Login</a></button>
                        
                        </li>
                    </li>
                  </ul>
              </div>
            
              </div>
          </div>
        </nav>
      </div>
      </header>
</section>

<script src="assets/js/jquery-3.3.1.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script>

<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>

<section class="w3l-hero-headers-9">
  <div class="slide header11" data-selector="header11">
    
      </div>
      <div id="slide" >
      <a href=""><img src="images/mau-banner-quang-cao-dep-15.jpg"alt= ""></a>
      </div>

      <div class="search" id="find">
                <input type="search" placeholder="search .....">
                <button>find</button>
                
</div>
  </section>
  
<section class="w3l-teams-15">
	<div class="team-single-main editContent">
		<div class="container">
			<div class="row">
				<div class="column2 col-lg-6">
				
				</div>
				<div class="column2 image-text col-lg-6">
					<h3 class="team-head editContent">We Will Assist Everyone 24/24 <span class="color-text editContent">Thank You Very Much.</span></h3>
					<p class="para editContent text ">
						</p>
					<div class="shop phone">
						<div class="shop phone one-img">
							<h6><a href="#page">Cheap</a></h6>
							<p class="para">
					
							</p>
					</div>
						<div class="shope phone two-img">
							<h6><a href="#page">Take Care Of The Attentions</a></h6>
							<p class="para">
							
							</p>
					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
<section class="w3l-call-to-action_9">
    <div class="call-w3 editContent">
        <div class="container">
            <div class="grids">
                    <div class="grids-content row">
                        <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                            <div class="bg-color-white">   
                                <div class="span-color editContent">     
                        <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                    </div>
                            <h4><a href="about.html" class=" editContent">Experienced Staff</a></h4>
                            <p class="para editContent"></p>
                
                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">  
                            <span class="fa fa-smile-o" aria-hidden="true"></span>
                        </div>
                        <h4><a href="about.html" class=" editContent">The Lines Of Good current Machine</a></h4>
                        <p class="para editContent">
                    </div>
                </div>

                <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                    <div class="bg-color-white">
                        <div class="span-color editContent">  
                        <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    <h4><a href="about.html" class=" editContent">Enthusiastic Advice</a></h4>
                    <p class="para editContent">
                </div>
            </div>
            <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                <div class="bg-color-white">   
                    <div class="span-color editContent">     
            <span class="fa fa-diamond" aria-hidden="true"></span>
        </div>
                <h4><a href="about.html" class=" editContent">Free Machine Cleaning</a></h4>
                <p class="para editContent"> 
            </div>
        </div>       
            <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
            <div class="bg-color-white">   
                <div class="span-color editContent">     
        <span class="fa fa-magic" aria-hidden="true"></span>
    </div>
            <h4><a href="about.html" class=" editContent"> Add Hard Drive</a></h4>
            <p class="para editContent">
        </div>
    </div>                       <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
        <div class="bg-color-white">   
            <div class="span-color editContent">     
    <span class="fa fa-check" aria-hidden="true"></span>
</div>
        <h4><a href="about.html" class=" editContent">The Speaker Cleaning</a></h4>
        <p class="para editContent">
    </div>
</div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container">
            <div class=" row">
                <div class="my-bio col-lg-6">
                    <h3 class="title-big">Offering a <span class="color-text editContent">full-service </span>facility for pets</h3>
                    <div class="hair-make">
                        <h5><a href="#page">Quality & Reputation</a></h5>
                        <p class="para mt-2"></p>
                    </div>
                    <div class="hair-make">
                        <h5><a href="#page">Clean Machine</a></h5>
                        <p class="para mt-2"></p>
                    </div>
                    <div class="hair-make">
                        <h5><a href="#page">Home Repair</a></h5>
                        <p class="para mt-2"></p>
                    </div>
                </div>
                <div class="col-lg-6 position-relative back-image">
                    <img src="images/tải xuống (1).jpg ">
                </div>
        </div>
</section>
<section class="w3l-clients">
    <div class="main-w3">
        <div class="container">
            <div class="apply-grids-info ">
                    <div class="apply-gd-left ">
                        <h3>Make an <span class="color-text editContent">Appointment</span></h3>
                        <p class="para"> </p>
                   <div class="apply-text">
                        <div class="apply-sec-info">
                        <h5><a href="blog-single.html">Install Win</a></h5>
                        <p class="para"></p>
                             </div>
							<div class="apply-sec-info">
									<h5><a href="blog-single.html">Change Device If Faulty</a></h5>
									<p class="para">.</p>
					             </div>
							<div class="apply-sec-info">
									<h5><a href="blog-single.html">Other Consulting Services</a></h5>
									<p class="para"></p>
                                </div>
                            </div>
                        </div>
					<div class="apply-form p-sm-5 p-4">
						<form action="#" method="post">
							<div class="admission-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Full Name*" required="">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number*" required="">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email*" required="">
								</div>
								<select class="form-control">
									<option>Service Type</option>
									<option>Replace The Screen</option>
                                    <option>Replace The Computer Battery</option>
                                    <option>Replace The Ram Or Hard Drive</option>
                                    <option>Change Camera</option>
                                    <option>Change The Speaker</option>
									<option>Others</option>
								</select>
							</div>
							<div class="form-group">
								<textarea name="Comment" class="form-control" placeholder="Message*" required=""></textarea>
                            </div>
                            <div class="text-right">
                            <button type="submit" class="btn btn-primary submit action-button">Submit Now</button>
                        </div>
						</form>
					</div>
				</div>
					</div>
				</div>
</section>

<section class="w3l-covers-18">
        <div class="covers-main editContent">
          <div class="main-titles-head text-center">
            <h3 class="header-name editContent">
              The showroom of the most special models
            </h3>
            <p class="tiltle-para editContent editContent"></div>
            <div class="container">
                <div class="gallery-image">
                  <div class="img-box">
                    <a href="#page"> <img src="images/screenshot_090319_112214_am_1197x599-800-resize.jpg" alt="product" class="img-responsive "></a>
                   
                      <div class="caption">
                        <h6><a href="#page">Samsung Galaxy A50s Phone</a></h6>
                        <p class="para">4.490.000₫ 6.990.000₫ -35%</p>
                      </div>
                  </div>

                  <div class="img-box">
                    <a href="#page"> <img src="images/samsung-galaxy-a50s-den-600x600.jpg" alt="product" class="img-responsive "></a>
                  
                      <div class="caption">
                        <h6><a href="#page">Samsung Galaxy A20s 64GB Phone</a></h6>
                        <p class="para">4.890.000₫</p>
                      </div> 
                        <a href="#page"> <img src="images/samsung-galaxy-a20s-den-600x600.jpg" alt="product" class="img-responsive "></a>
                                        
                  </div>
                  <div class="img-box">
                    <a href="#page">IPhone 11 Pro Max 64GB Phone </a>
                  </div class="caption">
                  <a href="#page">21.990.000₫ 23.490.000₫ -6% <img src="images/iphone-11-pro-max-green-600x600.jpg" alt="product" class="img-responsive "></a>
                                  
                      <div class="img-box">
                        <h6><a href="#page">Xiaomi Redmi 8  / 32GB</a></h6>
                        <p class="para">31.990.000₫ 33.990.000₫ -5%</p>
                      </div>
                    
                  </div>
                  <div class="img-box">
                    <a href="#page">Xiaomi Redmi 8<img src="images/xiaomi-redmi-note-8-128gb-den-600x600.jpg" alt="product" class="img-responsive "></a>
                    <p class="para">31.990.000₫ 33.990.000₫ -5%</p>
                  
                  </div>
                  <div class="img-box">
                    <a href="#page">IPhone 7 Plus 32GB<img src="images/iphone-7-plus-32gb-gold-600x600-600x600.jpg" alt="product" class="img-responsive "></a>
                    p class="para">31.990.000₫ 33.990.000₫ -5%</p>
                      <div class="caption">
                        <h6><a href="#page">OPPO Reno2 F phone</a></h6>
                        <p class="para">31.990.000₫ 33.990.000₫ -5%</p>
                        
                    </div>
                  </div>
                  <div class="img-box">
                    <a href="#page"><img src="images/oppo-reno2-f-600x600-600x600.jpg" alt="product" class="img-responsive "></a>
                    <p class="para"> 41.490.000₫ 42.990.000₫ ..</p>
                      <div class="caption">
                        <h6><a href="#page">Phone OPPO A5s</a></h6>
                        <p class="para"> 41.490.000₫ 42.990.000₫ ..</p>
                      </div>
                  </div>
                <div class="img-box">
                  <a href="="#page><img src="images/oppo-a5s-do-600x600-1-600x600.jpg" alt ="product" class="img-responsive "></a>                     >
            </div>
        </div>
    </section>
<section class="w3l-footer-29-main">
	<div class="footer-29 py-5">
	  <div class="container py-lg-4">
		<div class="row footer-top-29">
		  <div class="col-lg-5 col-md-6 col-sm-12 footer-list-29 footer-1">
				<h2><a href="index.html" class=""><span class="fa fa-paw mr-2" aria-hidden="true"></span> phoneshop</a></h2>
				<p class="para"></p></div>
		  <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3">
			  <h6 class="footer-title-29">Get in Touch</h6>
		
			  <div class="column2">
								<div class="href1"><span>E-mail:</span><a href="Ducvvgcd191230@fpt.edu.Vn">mail@company.com</a>
								</div>
								<div class="href2"><span>Phone:</span><a href="tel:0812947710">+0812947710</a>
								</div>
								<div>
									<p class="contact-para">171 Nguyen Thien Ke , An Hai Dong , Son Tra , Da Nang.</p>
								</div>
							</div>
		  </div>
		  <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4">
			<h6 class="footer-title-29">Newsletter </h6>
			<p>Enter your email and receive the latest news from us.
			 We'll never share your email address</p>
			<form action="#" class="subscribe" method="post">
			  <input type="email" name="email" placeholder="Your Email Address" required="">
			  <button><span class="fa fa-envelope-o"></span></button>
			</form>
		  </div>
		</div>
	  </div>
	</div>
	<div class="bottom-copies text-center">
		<div class="container">
		<p class="copy-footer-29">© 2020 Phone Shop. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
	</div>
	</div>
  </section>

<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-eject"></span>
</button>
<script>
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>

</body>

</html>